@use 'helpers' as *;

:root {
  --container-width: #{rem(1180)};
  --container-padding-x: #{rem(20)};
  --font-family-base: 'ABeeZee', sans-serif;
  --font-family-second: 'Intro', sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-purple: #484283;
  --color-red: #F14F4F;
  --color-hover-red: #e30a0a;
  --color-green-blue: #444B58;
  --color-hover-green-blue: #353942;
  --color-light-orange: #DBBBA9;
  --color-pale: #FFF4EE;
  --color-gray: #B2B5BB;
  --color-light-gray: #ededed;
  --color-gray-dark: #808080;
  --color-white-dark: #F3F6F6;
  --border: #{rem(1)} solid var(--color-white);
  --color-social: #0E5A4C;

  --transition-duration: 0.2s;


}