@use '../helpers' as *;

.catalog {
  background-color: var(--color-white);

  a,
  p,
  span,
  div,
  h3,
  h1,
  input
  {
    color: var(--color-green-blue);
  }
  &__overlay {
    @include mobile {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s;
      top: 80%;
      left: 10%;
      &.is-active {
        visibility: visible;
        opacity: 1;
      }
    }

  }


  &__body {
    padding-block: fluid(60,20);
  }

  &__inner {
      display: flex;
      margin-top: fluid(40,20);
      gap: rem(20);

      @include mobile {
        flex-direction: column;
      }

      &-filter {
        @include square(rem(40));
        background-color: transparent;
        border: none;
        position: relative;
        align-items: center;

      }
  }

  &__search {
    display: flex;
    flex-direction: column;
    background-color: var(--color-pale);
    padding: rem(20);
    max-width: rem(280);
    max-height: rem(600);
    @include laptop {
      max-width: rem(550);
    }
    @include mobile {
      max-height: rem(540);
    }

    &-subtitle {
      margin-block: rem(16) rem(7);
    }


    &-slider {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border: solid 1px var(--color-gray);
      justify-content: space-between;
      align-items: center;
      >input {
        background: transparent;
        outline: none;
        border: none;
        justify-self: center;
        text-align: center;
        width: rem(70);
        height: rem(50);
        &:focus {
          box-shadow: none;
          border: 1px solid var(--color-light-orange);
          border-radius: 3px;
          background-color: transparent;
        }
          &::selection {
            background-color: transparent;
            color: inherit;
          }
      }
      &-min {
        margin-left: rem(25);
      }

      &-max {
        margin-right: rem(25);
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-gray);
        height: rem(34);
        width: rem(1);
      }

      -moz-appearance: textfield;
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    &-range {
      :not(:last-child) {

      }
      display: grid;
      width: 100%;
      position: relative;
      z-index: 5;

      > input {
        grid-column: 1;
        grid-row: 2;
        pointer-events: none;
        appearance: none;
        background: transparent;
        &[type=range]::-webkit-slider-thumb {
        pointer-events: auto;
        width: rem(6);
        height: rem(20);
        border: rem(4);
        border-radius: 50%;
        background: var(--color-green-blue);
        -webkit-appearance: none;
        cursor: pointer;
      }
      }
    }

    &-line {
      position: absolute;
      width: 100%;
      height: rem(4);
      background-color: var(--color-light-gray);
      top: 50%;
      transform: translateY(-50%);
      border-radius: rem(5);
      overflow: hidden;
      z-index: -1;
    }
    &-progress {
      position: absolute;
      height: rem(4);
      top: 50%;
      transform: translateY(-50%);
      border-radius: rem(5);
      overflow: hidden;
      z-index: -1;
    }


    &-gender {
      &-options {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        gap: rem(40);
        margin-bottom: rem(20);
      }

      &-checkbox {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      &-label::before {
        content: '';
        display: inline-block;
        margin-right: rem(10);
        border: rem(1) solid var(--color-light-orange);
        border-radius: rem(4);
        width: rem(24);
        height: rem(24);
        vertical-align: middle;
      }

      .catalog__search-gender-checkbox:checked + .catalog__search-gender-label::before {
        background-image: url(../../icons/check_mark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem(15);
      }

      .catalog__search-gender-checkbox:focus + .catalog__search-gender-label::before {
        box-shadow: 0 0 0 rem(2) var(--color-red);
      }
      .catalog__search-gender-checkbox:focus:not(:focus-visible) + .catalog__search-gender-label::before {
        box-shadow: none;
      }
    }

    &-table {
      &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: rem(1) solid var(--color-light-orange);
      }

      &-size {
        padding: rem(10) rem(5);
        text-align: center;
        border: rem(1) solid var(--color-light-orange);
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--color-red);
        }

      }
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem(5);
      &-accept {
        margin-top: rem(20);
        background-color: var(--color-green-blue);
        &:focus-visible {
          background-color: var(--color-hover-green-blue);
        }
        &:hover {
          background-color: var(--color-hover-green-blue);
        }
      }

      &-reset {
        background-color: transparent;
        color: var(--color-black);
        &:focus-visible {
          color: var(--color-red);
          background-color: transparent;
        }
        &:hover {
          color: var(--color-red);
          background-color: transparent;
        }
      }
    }
  }
  &__main {
    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(20);
      @include mobile {
        grid-template-columns: 1fr 1fr;
        text-align: center;
      }
    }

    &-card {
      position: relative;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(rem(-5));
      }
    }
    &-image {
      position: relative;
      display: block;

      &:hover {
        .catalog__main-overlay {
          opacity: 1;
          visibility: visible;

        }

        img {
          opacity: 0.7;
        }
      }
    }

    &-overlay {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: rem(40);
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      .touch-device & {
        transition: opacity 0.2s ease, visibility 0.2s ease;
      }

      &-button {
        position: relative;
        width: fluid(80, 60);
        height: fluid(80, 60);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-green-blue);


        svg {
          width: rem(30);
          height: rem(30);
          display: block;
        }

        &:hover {
          background-color: var(--color-hover-green-blue);
        }
      }
        &-svg {
          &-1 {
            path {
              stroke: var(--color-white);
              fill: none
            }
          }
          &-2 {
            path {
              fill: var(--color-white);
              stroke: none;
            }
          }
      }
    }


    &-button {
      margin-top: fluid(40,20);
      justify-self: center;

      &:focus-visible {
        background-color: var(--color-hover-red);
      }
      &:hover {
        background-color: var(--color-hover-red);
      }
    }

    &-card-description {
      display: flex;
      flex-direction: column;

      &:hover {
        .catalog__main-title,
        .catalog__main-price {
          color: var(--color-hover-red);
        }
      }
      &:focus-visible {
        .catalog__main-title,
        .catalog__main-price {
          color: var(--color-hover-red);
        }
      }
    }
    &-price {
      font-size: fluid(20,16);
      font-weight: 600;
    }
  }
}