@use '../helpers' as *;

.form {

  a,
  div,
  h3,
  h1,
  input
  {
    color: var(--color-green-blue);
  }

  background-color: var(--color-white);
  &__body {
    padding-block: fluid(60,20);
  }

  &__information {
    &-step,&-step2,&-step3,&-step4 {
      transition: opacity 0.3s ease, transform 0.3s ease;
      &.active {
        padding: fluid(40,20) fluid(100,50);
        background-color: var(--color-pale);
        transform: translateX(0);
        position: relative;
        height: auto;
        opacity: 1;
      }

      &:not(.active) {
        opacity: 0;
        transform: translateX(rem(20));
        position: absolute;
        height: 0;
        pointer-events: none;
        overflow: hidden;
      }
    }


    &-title {
      font-weight: 500;
      &-2,&-3,&-4 {
        font-weight: 600;
      }
    }

    &-subtitle {
      margin-block: rem(16) rem(20);
      color: var(--color-gray-dark);
      max-width: rem(980);
      border-bottom: 1px solid var(--color-gray-dark);

      &-end {
        color: var(--color-light-orange);
        padding-block: rem(16) rem(20);
        border-bottom: 1px solid var(--color-light-orange);
      }
    }

    &-title-form {
      margin-bottom: rem(16);
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: rem(20);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-grid2 {
      display: flex;
      gap: fluid(90,40);
    }

    &-image2 {
      margin-block: rem(20);
    }

    &-details {
      margin-bottom: fluid(122,62);
      &-input {
        width: fluid(465,250);
        height: fluid(250,160);
        resize: none;
        color: var(--color-black);
        border: none;
        border-radius: rem(4);
        padding :rem(20);
        overflow: hidden;

        &::placeholder {
          color: var(--color-light-orange);
          opacity: 1;
        }

      }

    }

    &-name {
      color: var(--color-black);
    }

    &-card {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: rem(10);
      margin-bottom: rem(20);
    }

    &-name::before {
      cursor: pointer;
      content: '';
      display: inline-block;
      margin-right: rem(10);
      border: rem(1) solid var(--color-light-orange);
      border-radius: rem(4);
      width: fluid(24,16);
      height: fluid(24,16);
      vertical-align: middle;
    }

    &-checkbox {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    .form__information-checkbox:checked + .form__information-name::before {
      background-image: url(../../icons/check_mark.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: rem(15);
    }

    .form__information-checkbox:focus + .form__information-name::before {
      box-shadow: 0 0 0 rem(2) var(--color-red);
    }
    .form__information-checkbox:focus:not(:focus-visible) + .form__information-name::before {
      box-shadow: none;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: rem(20);
      border-top: 1px solid var(--color-gray-dark);


      @include mobile {
        flex-direction: column;
        gap: rem(10);
      }

      &-button {
        background-color: transparent;
        color: var(--color-green-blue);
        font-weight: 600;
        border-radius: rem(4);
        border: rem(2) solid var(--color-green-blue);
      }
    }



    &-form {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: var(--color-light-orange);
      width: fluid(655,400);
      height: fluid(400,300);
      margin-block: rem(20) fluid(60,20);
      padding: fluid(40,20);


      &-title {
        color: var(--color-white);
      }

      &-subtitle {
        color: var(--color-white);
        margin-block: rem(10) fluid(25,15);
      }

      &-name,&-mail {
        width: fluid(500,350);
        height: fluid(60,40);
        border: none;
        border-radius: rem(4);
        margin-bottom: rem(10);
        padding: rem(20);
        color: var(--color-gray);
      }

      &-button {
        margin-top: rem(10);
        width: fluid(220,150);

        &.disabled {
          opacity: 0.6;
          cursor: not-allowed;
          pointer-events: none;
        }

        &:focus-visible {
          background-color: var(--color-hover-red);
        }
        &:hover {
          background-color: var(--color-hover-red);
        }
      }
      &-images {
        $mobile-more: 910.98;
        position: relative;
        width: rem(211);
        height: rem(419);
        @media (width <= rem($mobile-more)) {
          display: none;
          opacity: 0;
        }
      }

      &-image {
        position: absolute;
        z-index: 1;
      }

      &-content {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.show {
          display: block;
          opacity: 1;
        }

      }

      &-image2 {
        position: absolute;
        top: 0;
        left: rem(15);
        width: rem(180);
        height: rem(417);
        object-fit: contain;
        z-index: 3;
      }
    }
    &-main {
      display: flex;
      position: relative;
      align-items: center;
    }
  }
}