@use "../helpers" as *;

.footer {
  background-color: var(--color-green-blue);

  &__body {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: rem(28);

      @include mobile {
        flex-direction: column;
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      gap: fluid(40, 12);
      white-space: nowrap;

      @include mobile {
        flex-direction: column;
        margin-top: rem(14);
      }
    }
  }

  &__logo {
    @include fluid-text(30, 22);
  }
}
