@use "../helpers" as *;

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: rem(100);
}

.hero {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    padding-block: fluid(100, 20);
  }

  &-title {
    color: white;
    max-width: fluid(500, 350);
  }

  &-subtitle {
    position: relative;
    max-width: fluid(400, 350);
    margin-bottom: fluid(40, 20);
  }

  &-subtitle::before {
    content: "SneakMax";
    position: absolute;
    z-index: -1;
    font-size: rem(200);
    opacity: 0.12;
    font-weight: 700;
    bottom: 100%;
    transform: translate(-5%, 75%);
    left: 40%;
    white-space: nowrap;
    line-height: 1;

    @include mobile {
      display: none;
    }
  }

  &-button {
    &:focus-visible {
      background-color: var(--color-hover-red);
    }

    &:hover {
      background-color: var(--color-hover-red);
    }
  }
}
