@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error "Dont use units of measurement. Only digits.";
  }
}

@function fluid($max: 100, $min: 10) {
  $maxWidthViewport: 1600;
  $minWidthViewport: 390;
  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxWidthViewport, 16);
  $minWidth: math.div($minWidthViewport, 16);
  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));

  // y = kx + b => b = y - kx, где y - размер элемента, x - ширина viewport
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize}rem,
    #{$yAxisIntersection}rem + #{$slope * 100vw},
    #{$maxSize}rem
  );
}
