@use "functions" as *;
@use "sass:math";

$tablet: 1600.98;
$laptop: 1018.98;
$mobile: 769.98;

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

//предотвратить залипание на тач скринах
@mixin hover($hasActiveEffectOnMobile : true) {
  @media(any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
  @media (any-hover: none) {
    &:active {
      @content;
    }
  }
}
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin fluid-text($max:48,$min:16) {
  font-size: fluid($max,$min);
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin adaptive-container($width, $padding-x) {
  max-width: calc(#{$width} + #{$padding-x} * 2);
  padding-inline: $padding-x;
}
