@font-face {
  font-family: 'ABeeZee';
  src: url('../fonts/ABeeZee-Regular.woff2') format("woff2");
  font-weight:  300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Intro';
  src: url('../fonts/IntroDemo-BlackCAPS.woff2') format("woff2");
  font-weight:  400;
  font-style: normal;
  font-display: swap;
}