@use 'helpers' as *;


.container {
  @include adaptive-container(1200px, 20px);
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-laptop {
  @include laptop {
    display: none !important;
  }
}

.visible-laptop {
  @include laptop-above {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: rem(22) rem(48);
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: rem(4);
  white-space: nowrap;
  border: transparent;
  width: fluid(256,180);
  height: fluid(63,48);
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

